In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly.io as pio
import plotly.express as px
plt.rcParams['font.family'] = 'Microsoft YaHei'
from sqlalchemy import create_engine
import plotly.graph_objects as go
import random
from datetime import datetime, timedelta

In [18]:
updated_columns = [
    'STUDENT_NO', 'SEXUAL', 'AGE', 'SUBJECT_NAME', 'EXAM_TYPE',
    'COURSE_TYPE_SUB', 'TEACHER', 'ORDER_PRICE', 'CREATE_DATE',
    'PROGRAM_TYPE', 'LOCATION', 'STATUS',
    'IS_OLD_CUSTOMER(IF PREVIOUS ORDER EXISTS)', 'INVOICE_NO',
    'STUDENT_NO_DETAIL_ITEM', 'ORDER_TOTAL', 'DISCOUNT_AMOUNT',
    'CLERK_NO'
]

# Maintain a mapping for CLERK_NO and its corresponding LOCATION
clerk_location_mapping = {}
student_registry = {}
def get_or_generate_student_details(student_no):
    if student_no not in student_registry:
        student_registry[student_no] = {
            "STUDENT_NO": student_no,
            "SEXUAL": random.choice(['Male', 'Female']),
            "AGE": random.randint(15, 40)
        }
    return student_registry[student_no]
# Helper function to get or assign a LOCATION for a given CLERK_NO
def get_or_assign_location(clerk_no):
    if clerk_no not in clerk_location_mapping:
        clerk_location_mapping[clerk_no] = random.choice(['Region A', 'Region B', 'Region C', 'Region D', 'Region E', 'Region F', 'Region G', 'Region H'])
    return clerk_location_mapping[clerk_no]

# Generate student orders with consistent LOCATION for each CLERK_NO
def generate_student_orders_with_clerk_location(student_details):
    student_data = []
    num_products = random.randint(1, 3)  # Each student buys 1-3 products
    clerk_no = f"CL-{random.randint(100, 200)}"
    location = get_or_assign_location(clerk_no)  # Get or assign LOCATION for this CLERK_NO
    create_date = (datetime.now() - timedelta(days=random.randint(1,730))).strftime('%Y-%m-%d')
    is_old_customer = random.choice(['New', 'Old'])

    for _ in range(num_products):
        invoice_no = f"INV-{random.randint(100000, 999999)}"
        student_no_detail_item = invoice_no  # Same as INVOICE_NO
        program_type = random.choice(['Exam01', 'Exam02','Exam03','Exam04','Exam05','Exam06'])
        status = random.choice(['本班'])
        
        num_courses = random.randint(1, 5)  # 1-5 courses per product
        order_total = 0  # Initialize ORDER_TOTAL for the product
        discount_amount = random.randint(1000, 10000)  # Discount for the product

        for _ in range(num_courses):
            subject_name = random.choice(['Math', 'English', 'Science', 'History', 'Art'])
            course_type_sub = random.choice(['面授', '線上', '講座', '學堂', '題庫', '雲端', '衝刺班', '短期'])
            teacher = random.choice(['Alice', 'Angela', 'Bella', 'Cindy', 'Charlotte', 'Cynthia', 'Daisy'])
            order_price = random.randint(10000, 15000)
            order_total += order_price

            # Append row for each course
            student_data.append([
                student_details["STUDENT_NO"],            # STUDENT_NO
                student_details["SEXUAL"],               # SEXUAL
                student_details["AGE"],                  # AGE
                subject_name,                             # SUBJECT_NAME
                random.choice(['Midterm', 'Final']),      # EXAM_TYPE
                course_type_sub,                          # COURSE_TYPE_SUB
                teacher,                                  # TEACHER
                order_price,                              # ORDER_PRICE
                create_date,                              # CREATE_DATE
                program_type,                             # PROGRAM_TYPE
                location,                                 # LOCATION
                status,                                   # STATUS
                is_old_customer,                          # IS_OLD_CUSTOMER
                invoice_no,                               # INVOICE_NO
                student_no_detail_item,                   # STUDENT_NO_DETAIL_ITEM
                '',                                       # ORDER_TOTAL (filled later for consistency)
                discount_amount,                          # DISCOUNT_AMOUNT
                clerk_no,                                 # CLERK_NO
           
            ])

        # Update ORDER_TOTAL for all rows of this product
        for row in student_data[-num_courses:]:
            row[15] = order_total - discount_amount  # ORDER_TOTAL = SUM(ORDER_PRICE) - DISCOUNT_AMOUNT

    return student_data

# Generate data for multiple students with consistent CLERK_NO and LOCATION mapping
data = []
student_list = [f"SN-{random.randint(10000, 99999)}" for _ in range(10000)]  # 5 students
for student_no in student_list:
    student_details = get_or_generate_student_details(student_no)
    data.extend(generate_student_orders_with_clerk_location(student_details))

# Create a DataFrame
df = pd.DataFrame(data, columns=updated_columns)

In [19]:
updated_columns = [
    'STUDENT_NO', 'SEXUAL', 'AGE', 'SUBJECT_NAME', 'EXAM_TYPE',
    'COURSE_TYPE_SUB', 'TEACHER', 'ORDER_PRICE', 'CREATE_DATE',
    'PROGRAM_TYPE', 'LOCATION', 'STATUS',
    'IS_OLD_CUSTOMER(IF PREVIOUS ORDER EXISTS)', 'INVOICE_NO',
    'STUDENT_NO_DETAIL_ITEM', 'ORDER_TOTAL', 'DISCOUNT_AMOUNT',
    'CLERK_NO'
]

# Maintain a mapping for CLERK_NO and its corresponding LOCATION
clerk_location_mapping = {}
student_registry = {}
def get_or_generate_student_details(student_no):
    if student_no not in student_registry:
        student_registry[student_no] = {
            "STUDENT_NO": student_no,
            "SEXUAL": random.choice(['Male', 'Female']),
            "AGE": random.randint(15, 40)
        }
    return student_registry[student_no]
# Helper function to get or assign a LOCATION for a given CLERK_NO
def get_or_assign_location(clerk_no):
    if clerk_no not in clerk_location_mapping:
        clerk_location_mapping[clerk_no] = random.choice(['Region A', 'Region B', 'Region C', 'Region D'])
    return clerk_location_mapping[clerk_no]

# Generate student orders with consistent LOCATION for each CLERK_NO
def generate_student_orders_with_clerk_location(student_details):
    student_data = []
    num_products = random.randint(1, 3)  # Each student buys 1-3 products
    clerk_no = f"CL-{random.randint(100, 200)}"
    location = get_or_assign_location(clerk_no)  # Get or assign LOCATION for this CLERK_NO
    create_date = (datetime.now() - timedelta(days=random.randint(1,730))).strftime('%Y-%m-%d')
    is_old_customer = random.choice(['New', 'Old'])

    for _ in range(num_products):
        invoice_no = f"INV-{random.randint(100000, 999999)}"
        student_no_detail_item = invoice_no  # Same as INVOICE_NO
        program_type = random.choice(['Exam01', 'Exam02','Exam03','Exam06'])
        status = random.choice(['本班'])
        
        num_courses = random.randint(1, 5)  # 1-5 courses per product
        order_total = 0  # Initialize ORDER_TOTAL for the product
        discount_amount = random.randint(1000, 10000)  # Discount for the product

        for _ in range(num_courses):
            subject_name = random.choice(['Math', 'English', 'Science'])
            course_type_sub = random.choice(['面授', '線上', '講座'])
            teacher = random.choice(['Alice', 'Angela', 'Cindy', 'Charlotte', ])
            order_price = random.randint(10000, 15000)
            order_total += order_price

            # Append row for each course
            student_data.append([
                student_details["STUDENT_NO"],            # STUDENT_NO
                student_details["SEXUAL"],               # SEXUAL
                student_details["AGE"],                  # AGE
                subject_name,                             # SUBJECT_NAME
                random.choice(['Midterm', 'Final']),      # EXAM_TYPE
                course_type_sub,                          # COURSE_TYPE_SUB
                teacher,                                  # TEACHER
                order_price,                              # ORDER_PRICE
                create_date,                              # CREATE_DATE
                program_type,                             # PROGRAM_TYPE
                location,                                 # LOCATION
                status,                                   # STATUS
                is_old_customer,                          # IS_OLD_CUSTOMER
                invoice_no,                               # INVOICE_NO
                student_no_detail_item,                   # STUDENT_NO_DETAIL_ITEM
                '',                                       # ORDER_TOTAL (filled later for consistency)
                discount_amount,                          # DISCOUNT_AMOUNT
                clerk_no,                                 # CLERK_NO
           
            ])

        # Update ORDER_TOTAL for all rows of this product
        for row in student_data[-num_courses:]:
            row[15] = order_total - discount_amount  # ORDER_TOTAL = SUM(ORDER_PRICE) - DISCOUNT_AMOUNT

    return student_data

# Generate data for multiple students with consistent CLERK_NO and LOCATION mapping
data = []
student_list = [f"SN-{random.randint(10000, 99999)}" for _ in range(5000)]  # 5 students
for student_no in student_list:
    student_details = get_or_generate_student_details(student_no)
    data.extend(generate_student_orders_with_clerk_location(student_details))

# Create a DataFrame
df2 = pd.DataFrame(data, columns=updated_columns)

In [20]:
df_concat = pd.concat([df,df2])
df_concat.to_csv('ftable.csv')

In [11]:
df

,STUDENT_NO,SEXUAL,AGE,SUBJECT_NAME,EXAM_TYPE,COURSE_TYPE_SUB,TEACHER,ORDER_PRICE,CREATE_DATE,PROGRAM_TYPE,LOCATION,STATUS,IS_OLD_CUSTOMER(IF PREVIOUS ORDER EXISTS),INVOICE_NO,STUDENT_NO_DETAIL_ITEM,ORDER_TOTAL,DISCOUNT_AMOUNT,CLERK_NO
0,SN-50602,Female,28,Math,Final,線上,Angela,12613,2023-04-06,Exam06,Region B,本班,Yes,INV-213059,INV-213059,9863,2750,CL-133
1,SN-50602,Female,28,Art,Midterm,題庫,Daisy,10385,2023-04-06,Exam02,Region B,本班,Yes,INV-596942,INV-596942,3802,6583,CL-133
2,SN-99235,Female,35,Art,Midterm,講座,Alice,12108,2023-08-07,Exam01,Region D,本班,Yes,INV-269965,INV-269965,32306,4025,CL-189
3,SN-99235,Female,35,English,Midterm,面授,Angela,12441,2023-08-07,Exam01,Region D,本班,Yes,INV-269965,INV-269965,32306,4025,CL-189
4,SN-99235,Female,35,History,Midterm,線上,Bella,11782,2023-08-07,Exam01,Region D,本班,Yes,INV-269965,INV-269965,32306,4025,CL-189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60001,SN-80498,Male,33,English,Final,學堂,Daisy,13661,2024-03-01,Exam05,Region F,本班,No,INV-372341,INV-372341,12389,1272,CL-191
60002,SN-80498,Male,33,English,Midterm,短期,Charlotte,14443,2024-03-01,Exam02,Region F,本班,No,INV-925346,INV-925346,44658,5635,CL-191
60003,SN-80498,Male,33,Science,Midterm,面授,Charlotte,11871,2024-03-01,Exam02,Region F,本班,No,INV-925346,INV-925346,44658,5635,CL-191
60004,SN-80498,Male,33,Math,Final,學堂,Cynthia,10232,2024-03-01,Exam02,Region F,本班,No,INV-925346,INV-925346,44658,5635,CL-191
60005,SN-80498,Male,33,Science,Final,講座,Alice,13747,2024-03-01,Exam02,Region F,本班,No,INV-925346,INV-925346,44658,5635,CL-191